<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vue JS</title>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="app/app.css">
</head>
<body>
  <div id="app" v-bind:title="message">
    <h3>Interpolation</h3>
    <!-- interpolation -->
    {{ message }}
    <!-- v-once one time binding -->
    <p v-once>{{ message }}</p>
  </div>
  <hr />
  <div id="app-2">
    <h3>Element attributes binding</h3>
    <!-- v-bind:title title attibute binding -->
    <p v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </p>
    <!-- v-bind:title shorthand -->
    <p :title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </p>
  </div>
  <hr />
  <div id="app-3">
    <h3>Conditionals and Loops</h3>
    <!-- v-if conditional render -->
    <p v-if="seen">Now you see me</p>
    <ol>
      <!-- v-for loop render -->
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <hr />
  <div id="app-4">
    <h3>Handling user input</h3>
    <p>{{ message }}</p>
    <!-- v-on:click click event binding -->
    <button v-on:click.once="reverseMessage">Reverse Message Once</button>
    <!-- v-on:click click event binding with prevent default -->
    <button v-on:click.stop.prevent="reverseMessage">Reverse Message Stop and Prevent</button>    
    <!-- v-on:click shorthand -->
    <button @click="reverseMessage">Reverse Message</button>
  </div>
  <hr />
  <div id="app-5">
    <h3>Model</h3>
    <p>{{ message }}</p>
    <!-- v-model model binding -->
    <input v-model="message">
  </div>
  <hr />
  <div id="app-6">
    <h3>Component</h3>
    <ol>
      <!-- todo-item component -->
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>
  <hr />
  <div id="app-7">
    <!--computed and watchers-->
    <h3>Computed and watchers</h3>
    <p>{{ message }}</p>
    <p>{{ reverseMessage }}</p>
    <p>old message: {{ oldInfo }}</p>
  </div>
  <hr />
  <div id="app-8">
    <!--class and style bindings-->
    <h3>Class and Style bindings</h3>
    <div class="static"
          v-bind:class="{ 'text-danger': hasError }">
          class binding text from data property
    </div>
    <button @click="changeData">Change Class status</button>    
    <div class="static"
          v-bind:class="[bold, bigFont, { 'text-danger': hasError }]">
          class binding text from array of properties
    </div>
    <text-line v-bind:message="message" 
                v-bind:class="[bold, bigFont, { 'text-danger': hasError }]">
    </text-line>
    <p v-bind:style="{color: activeColor, fontSize: fontSize + 'px'}">
      style binding
    </p>
  </div>
  <hr />
  <div id="app-9">
    <!--conditional rendering-->
    <h3>Conditional Rendering</h3>
    <p v-if="showOkText">OK</p>
    <p v-else>NOT OK</p>
    <button @click="toggleShowText">Change show OK</button>  
    <!--diff with v-if is that v-show is always render
    v-if: higher toogle cost (if not toggling use if)
    v-show: higher initial render (so to toggle use if)-->
    <p v-show="showOkText">showing text!!</p>
  </div>
  <hr />
  <div id="app-10">
    <h3>List Rendering</h3>
    <!-- list rendering -->
    <ol>
      <!-- v-for loop render (in this case using of so that it is closer to JavaScript’s syntax for iterators) -->
      <li v-for="(todo, index) of todos">
        {{ todo.text }} - index: {{ index }}
      </li>
    </ol>
    <!-- object rendering -->
    <ol>
      <!--key allows us to render the key of the object, :key allows us to provide a unique 
      value to the element improving the performance on re renders-->
      <li v-for="(value, key, index) in user" :key="value">
        {{ value }} - index: {{ index }} - key: {{ key }}
      </li>
    </ol>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="app/app.js"></script>
</body>
</html>